@import "tailwindcss";
/* @import "tw-animate-css"; */

@plugin "daisyui" {
     include: carousel, glass;
     themes: false;
}



@theme {
     --color-primary-main: #CB6CE6;       /* Main brand color */
     --color-primary-light: #D589EB; /* Lighter shade */
     --color-primary-soft: #E5B5F2;  /* Softer shade */
     --color-primary-pale: #F4E1FA;  /* Lightest shade */

     --color-secondary-main: #131326;
     --color-secondary-light: #2c2c3f;
     --color-secondary-soft: #444455; 
     --color-secondary-pale: #a1a1aa; 

     --color-black: #0B0C17;
     --color-black-light: #32354E;
     --color-black-soft: #494C61;
     --color-black-pale: #767989;

     --color-gray: #A4A5B0;
     --color-gray-light: #B6B7C0;
     --color-gray-soft: #D1D2D7;
     --color-gray-pale: #EDEDEF;

     /* fonts */
     --text-base: 14px; 
     --text-sm: 15px; 
     --text-md: 19px; 
}


@layer components {
     .btn {
          @apply px-6 py-1.5 rounded-full bg-primary-main text-white font-semibold shadow-md hover:bg-primary-soft hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-primary-soft;
     }

     .see-all-btn {
          @apply px-5 py-[0.26rem] rounded-full bg-primary-pale text-primary-main text-[14px] font-semibold shadow-md hover:bg-primary-soft hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-primary-soft;
     }
}



@layer utilities {
     .card-section {
          @apply h-[17.5em] flex flex-col justify-between overflow-hidden;
     }

     .section-heading {
          @apply text-md font-bold text-secondary-light tracking-tight;
     }

     .card-title {
          @apply text-base font-bold text-secondary-light;
     }

     .card-description {
          @apply text-[13px] font-light text-secondary-soft;
     }

     .slider-container {
          @apply h-[80%] flex items-center bg-transparent overflow-x-auto space-x-4 pb-5 px-2 scroll-smooth snap-x snap-mandatory shadow-2xl;
     }
}


::-webkit-scrollbar {
     display: none;
}


body {
     /* ~webkit-tap-highlight-color: transparent; */
}
