@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
     include: carousel, glass;
     themes: false;
}



@theme {
     --color-primary-main: #CB6CE6;  /* Main brand color */
     --color-primary-light: #D589EB; /* Lighter shade */
     --color-primary-soft: #E5B5F2;  /* Softer shade */
     --color-primary-pale: #F4E1FA;  /* Lightest shade */

     --color-secondary-main: #131326;
     --color-secondary-light: #2c2c3f;
     --color-secondary-soft: #444455; 
     --color-secondary-pale: #a1a1aa; 

     --color-black: #0B0C17;
     --color-black-light: #32354E;
     --color-black-soft: #494C61;
     --color-black-pale: #767989;

     --color-gray: #A4A5B0;
     --color-gray-light: #B6B7C0;
     --color-gray-soft: #D1D2D7;
     --color-gray-pale: #EDEDEF;

     /* font sizes */
     --text-xs: 0.813rem; /* 13px */
     --text-sm: 0.88rem; /* 14px */
     --text-base: 0.938rem; /* 15px */
     --text-md: 1.063rem; /* 17px */
     --text-lg: 1.25rem; /* 20px */
     --text-xl: 1.7rem; /* 27.2px */
     --text-2xl: 1.95rem;
}


@layer components {
     .btn {
          @apply px-6 py-1.5 rounded-full bg-primary-main text-white font-semibold shadow-[0_5px_25px_rgba(0,1,0,0.2)] transition-colors focus:outline-none focus:ring-2 focus:ring-primary-soft hover:bg-primary-light;
     }

     .see-all-btn {
          @apply px-5 py-[0.26rem] rounded-full bg-primary-pale text-primary-main text-[13.8px] font-semibold shadow-md hover:bg-primary-soft hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-primary-soft;
     }

     .navigation-btn {
          @apply w-[2.42rem] h-[2.42rem] flex items-center justify-center rounded-full backdrop-blur-sm bg-black/20 shadow-[2px_5px_11px_rgba(0,1,0,0.45)] transition-all;
     }
}



@layer utilities {
     .page-heading {
          @apply text-2xl text-secondary-light font-bold;
     }

     .card-section {
          @apply h-[17.5em] flex flex-col justify-between overflow-hidden;
     }

     .section-heading {
          @apply text-md font-bold text-secondary-light tracking-tight;
     }

     .card-title {
          @apply text-sm font-bold text-secondary-soft;
     }

     .card-description {
          @apply text-xs text-black-pale;
     }

     .slider-container {
          @apply h-[80%] flex items-center bg-transparent overflow-x-auto space-x-4 pb-5 px-2 scroll-smooth snap-x snap-mandatory shadow-2xl;
     }

     .icon{
          @apply size-5 fill-primary-light;
     }

     .bg-overlay {
          @apply absolute inset-0 bg-gradient-to-t from-secondary-main/70 to-secondary-main/10 z-10;
     }
}

/*!*rgba(19, 19, 38, 0.75), rgba(19, 19, 38, 0.95)*! for overlay*/


::-webkit-scrollbar {
     display: none;
}


html {
     touch-action: manipulation;
     -webkit-tap-highlight-color: transparent;
     -webkit-touch-callout: none;
     -webkit-overflow-scrolling: touch; 
}


body {
     scroll-behavior: smooth;
     overflow-x: hidden;
     overscroll-behavior: none;
     /*background-color: #222222;*/
}



img, svg {
     user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
}



/* animations for product modal */
@keyframes slideUp {
     from {
          transform: translateY(100%);
     }
     to {
          transform: translateY(0);
     }
}

@keyframes slideDown {
     from {
          transform: translateY(0);
     }
     to {
          transform: translateY(100%);
     }
}

.data-[state=open] {
     animation: slideUp 0.3s ease-out forwards;
}

.data-[state=closed] {
     animation: slideDown 0.3s ease-in forwards;
}